# Virtual environment
venv/

# Streamlit cache
.streamlit/

# Python bytecode
__pycache__/
*.pyc

# Jupyter notebook checkpoints (if you used .ipynb before)
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables
.env
